<%= form_for(@leader) do |f| %>
  <% if @leader.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leader.errors.count, "error") %> prohibited this leader from being saved:</h2>

      <ul>
      <% @leader.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :speciality_id %><br>
    <%= f.number_field :speciality_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
