<p id="notice"><%= notice %></p>

<p>
  <strong>Goal:</strong>
  <%= @requirement.goal_id %>
</p>

<p>
  <strong>Goal type:</strong>
  <%= @requirement.goal_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @requirement.name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @requirement.instructions %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
