<%= form_for(@scout) do |f| %>
  <% if @scout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scout.errors.count, "error") %> prohibited this scout from being saved:</h2>

      <ul>
      <% @scout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :member_since %><br />
    <%= f.number_field :member_since %>
  </div>
  <div class="field">
    <%= f.label :leader_id %><br />
    <%= f.number_field :leader_id %>
  </div>
  <div class="field">
    <%= f.label :chapter_id %><br />
    <%= f.number_field :chapter_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
