<h1>Listing scouts</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Member since</th>
    <th>Leader</th>
    <th>Chapter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scouts.each do |scout| %>
  <tr>
    <td><%= scout.first_name %></td>
    <td><%= scout.last_name %></td>
    <td><%= scout.member_since %></td>
    <td><%= scout.leader_id %></td>
    <td><%= scout.chapter_id %></td>
    <td><%= link_to 'Show', scout %></td>
    <td><%= link_to 'Edit', edit_scout_path(scout) %></td>
    <td><%= link_to 'Destroy', scout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scout', new_scout_path %>
