<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @scout.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @scout.last_name %>
</p>

<p>
  <strong>Member since:</strong>
  <%= @scout.member_since %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @scout.leader_id %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @scout.chapter_id %>
</p>

<%= link_to 'Edit', edit_scout_path(@scout) %> |
<%= link_to 'Back', scouts_path %>
