<p id="notice"><%= notice %></p>

<p>
  <b>Scout:</b>
  <%= @badges_scout.scout_id %>
</p>

<p>
  <b>Badge:</b>
  <%= @badges_scout.badge_id %>
</p>


<%= link_to 'Edit', edit_badges_scout_path(@badges_scout) %> |
<%= link_to 'Back', badges_scouts_path %>
