<h1>Listing chapters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Leader</th>
      <th>Organization</th>
      <th>Meeting time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= chapter.name %></td>
        <td><%= chapter.leader_id %></td>
        <td><%= chapter.organization_id %></td>
        <td><%= chapter.meeting_time %></td>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
