<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @chapter.name %>
</p>

<p>
  <b>Leader:</b>
  <%= @chapter.leader_id %>
</p>

<p>
  <b>Organization:</b>
  <%= @chapter.organization_id %>
</p>

<p>
  <b>Meeting time:</b>
  <%= @chapter.meeting_time %>
</p>


<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
