<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chapter.name %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @chapter.leader_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @chapter.organization_id %>
</p>

<p>
  <strong>Meeting time:</strong>
  <%= @chapter.meeting_time %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
